.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;

  &-container {
    display: flex;
  }

  &-title-container {
    flex: 1 0 auto;
    font-size: 24px;
  }

  &-link {
    color: white;
    &:hover, &:focus {
      color: white;
      text-decoration: none;
    }
  }

  &-menu-link {
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 16px;
    border-bottom: 0 solid transparent;
    transition: border-bottom .2s ease-in;
    &:hover {
      border-bottom: 6px solid rgba(white, .24);
    }
    &-active, &-active:hover {
      border-bottom: 8px solid rgba(white, .76);
    }
  }
}
