html, body {
  background-color: darken(white, 3%);
}

html, body, input, textarea, button {
  font-family: -apple-system, '.SFNSText-Regular', 'San Francisco', Roboto, 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

a:focus {
  outline: 0; // Disable the annoying dotted outline in FF
}

html, body, #app {
  height: 100%;
}
